@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Indie+Flower&display=swap");
body {
  font-family: "Nunito", "Segoe UI", "Arial", sans-serif;
  background-color: #f7f7f7;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
